$color:#fff;
$font:#ACACAC;
$font2:#378790;
.user{
//  width: 100%;
//  min-height: 80px;
    background:$color ;
//  margin-left: 250px;
    display: -webkit-flex;
    display: flex;
    
    >.img{
        width: 4%;
        height: 80px;
        margin-left:17px ;
        line-height:  80px;
        .img{
            width: 55px;
            height: 55px;
            
        }
    }
    .msg{
        width: 76%;
        height: 80px;
        h3{
            letter-spacing: 2px;
            margin: 15px 0 10px 0;
        }
        p{
            color:$font ;
        }
    }
    .time{
        width: 6%;
        height: 80px;
        text-align: center;
         h3{
            letter-spacing: 2px;
            margin: 15px 0 10px 0;
        }
        p{
            color:$font ;
        }
    }
}

.index{
     background:#F2F3F8;
     box-shadow: none;
}
.index_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .con_left{
        width: 61%;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .left_top{
            width: 100%;
            height: 38%;
            background:$color ;
            ul{
                margin-left: 20px;
                li{
                    a{
                        color: #6D6D6D;
                    }
                    .active,a:hover{
                        color: $font2;
                    }
                    float:left;
                    font-size: 16px;
                    margin: 40px 150px 0 0;
                }
                li:last-child {
                    a{
                       display: inline-block;
                        width: 80px;
                        height: 30px;
                        border: solid 1px $font2;
                        color: $font2;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 3px;
    
                    }
                    
                }
                
            }
        }
        .left_bottom{
            width: 100%;
            height: 60%;
            background:$color ;
            ul{
                margin-left: 20px;
                li{
                    a{
                        color: #6D6D6D;
                        span:last-child{
                            float: right;
                            margin-right: 20px;
                            color: $font;
                        }
                        span:first-child{
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $font2;
                            margin-right: 10px;
                        }
                    }
                    a:hover{
                        text-decoration: underline;
                        color: $font2;
                    }
                    font-size: 14px;
                    margin-top: 30px;
                }
            }
        }
    }
    .con_right{
        width: 38%;
        min-height: 650px;
        background:$color ;
        
        .chart{
            width: 100%;
            height: 550px;
        }
        
        
    }
    .title{
        width: 100%;
        height: 50px;
        border-bottom: solid 1px #D7D7D7;
        line-height: 50px;
        text-indent: 20px;
        font-size: 18px;
        a{
            float: right;
            margin-right: 20px;
            font-size: 16px;
            color: $font;
        }
    }
}
