$color_:#08979D;
html,
body {
    overflow-x: hidden;
}

a {
    &:focus {
        text-decoration: none;
    }
}

.iconfont {
    &.big {
        font-size: 25px !important;
    }
    &.small {
        font-size: 20px !important;
    }
}

.dis {
    display: none;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

//NOtton
.button {
    margin: 15px 0 5px 15px;
    button {
        border-radius: 3px;
        margin-right: 25px;
        &:focus {
            outline: none;
        }
    }
    .add {
        background: $color_;
        border-color: $color_;
        color: #fff;
    }
}

.btn {
    font-size: 14px;
    >.iconfont {
        font-size: 14px;
    }
    padding: 3px 13px;
    //  &:hover {
    //      color: #fff;
    //      background: $color_;
    //  }
    &:focus {
        outline: none;
    }
    &.btn-add {
        background: $color_;
        border-color: $color_;
        color: #fff;
    }
}

//side-body
.pull-body {
    margin-left: 60px;
    margin-right: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.app-container {
    .content-container {
        .pull-body {
            padding-top: 70px;
        }
    }
}

.app-container.expanded {
    .pull-body,
    .path-nav {
        margin-left: 250px;
    }
}

.mar-0 {
    margin: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-30 {
    margin-right: 30px !important;
}

.mb-20 {
    margin-bottom: 20px;
}
.mr-0{
    margin-right: 0 !important;
}

.pad-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.path-nav {
    background: #fff;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    margin-top: 65px;
    margin-left: 60px;
    border-radius: 0;
    >li {
        font-size: 15px;
        >a {
            color: #A4A4A4;
        }
        &.active {
            color: #373737;
        }
    }
}

@media (max-width: 768px) {
    .app-container .content-container .pull-body {
        margin-left: 10px;
    }
    .path-nav {
        margin-left: 10px;
        margin-right: 15px;
    }
    .app-container.expanded .path-nav {
        margin-left: 10px;
    }
}

.radius {
    border-radius: 5px !important;
}

.radius-l {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.radius-r {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.form-horizontal {
    .form-group {
        margin-bottom: 0;
        >label {
            color: #A4A4A4;
            font-weight: 500;
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        >[class*="col-"] {
            margin-bottom: 10px;
        }
    }
}

//试题 
.question {
    //  margin-bottom: 25px;
    >.title {
        font-size: 18px;
    }
    >.question-item {
        padding-top: 20px;
        .question-list {
            padding: 0 10% 50px 20px;
            >.subject {
                font-size: 15px;
                background: #ECECEC;
                border-left: 4px solid #1B8E94;
                padding: 15px;
                line-height: 25px;
                span {
                    color: #0C9A9B;
                }
                
                input{
                    outline: none;
                    border: none;
                    background: transparent;
                    text-indent: 5px;
                    width:120px;
                }
                
            }
            >.answer-list {
                padding: 10px 0 10px 20px;
                >li {
                    padding: 5px 0;
                    font-size: 15px;
                }
            }
            >.btn {
                margin-left: 15px;
            }
            
            
            .carousel_box{
                width: 80%;
                margin: auto;
                margin-top: 20px;
                border: solid 1px #dedede;
                
                
                .swiper-slide{
                      display: -webkit-box;
                      display: -ms-flexbox;
                      display: -webkit-flex;
                      display: flex;
                      -webkit-box-pack: center;
                      -ms-flex-pack: center;
                      -webkit-justify-content: center;
                      justify-content: center;
                      -webkit-box-align: center;
                      -ms-flex-align: center;
                      -webkit-align-items: center;
                      align-items: center;
                }
                
                
                img{
                    width: 100%;
                }
            }
            
            .operation_box{
                width: 100%;
                min-height: 300px;
                margin-top: 20px;
                span{
                    font-size: 18px;
                }
                .excel{
                    width: 100%;
                    min-height: 200px;
                    margin:20px 0 20px 0;
                    border: solid 1px #dedede;
                }
                .excel_operate{
                    width: 100%;
                    height: 80px;
                    text-align: right;
                    
                    button{
                        background: #08979D;
                        color: #fff;
                        outline: none;
                    }
                }
            }
            
            
            
        }
    }
}

.radio-box,
.checkbox-box {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    >label {
        font-weight: 500;
        position: relative;
        padding: 11px 0 11px 30px;
        margin-bottom: 0;
    }
    label:before {
        position: absolute;
        content: ' ';
        width: 20px;
        height: 20px;
        border: 1px solid #1B8E94;
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 0;
    }
    >label:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 14px;
        left: 4px;
    }
}

.radio-box {
    input[type=radio] {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 20px;
        height: 20px;
        top: 5px;
    }
    >label:before {
        border-radius: 50%;
    }
    >label:after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    >input:checked+label:after {
        background: #1B8E94;
    }
}

.checkbox-box {
    input[type=checkbox] {
        position: absolute;
        z-index: 1;
        opacity: 0;
        width: 20px;
        height: 20px;
        top: 5px;
    }
}

.menu-three {
    padding-left: 50px !important;
}

.file-caption-main {
    .btn {
        padding: 6px 13px;
        margin-top: 0;
    }
<<<<<<< HEAD
}
=======
}


// 实操表单
.red{
    color: red;
}


.textarea{
    resize: none;
}
.imgbox{
    float: left;
    margin-right: 10px;
}
.clear{
    display: block;
    content: "";
    clear: both;
}
//上传图片
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 80px;
    height: 30px;
    color: #fff;
    background:#208E93;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    input{
        position: absolute;
        right: 0px;
        top: 0px;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        font-size: 200px;
    }
}
.del-img{
    margin-top: -15px;
    margin-left: 5px;
}
.operate{
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    .operate-title{
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 5px;
        border: solid 1px #F0F1F7;
        border-left: solid 4px #0F99A1;
        font-size: 20px;
        text-indent: 20px;
        margin-bottom: 30px;
        button{
            float: right;
            margin: 10px 20px 0 0;
        }
    }
    
    .excel-box{
        width: 100%;
        .excel-child{
        min-height: 300px;
        background: #F0F1F7;
        }
    }
}

//虚拟公司--客户管理
.coin{
    width: 100%;
    >div{
        margin-bottom: 20px;
    }

}
<<<<<<< HEAD

=======
>>>>>>> 743c6b32746303ec159da21be1eb3ca160b64449
>>>>>>> 3eee3ab5e729ca701ef4bb81e31c72a5279df8b5
